Source: ldbox
Maintainer: Riku Voipio <riku.voipio@iki.fi>
Uploaders: Jussi Hakala <jussi.hakala@iki.fi>
Section: utils
Priority: extra
Standards-Version: 3.8.0
Build-Depends: debhelper (>=5), autoconf, gcc-multilib [amd64] | gcc-4.1 (<< 4.1.2) [amd64],
 libc6-dev-i386 [amd64] | ia32-libs (>= 1.19) [amd64]
XS-Vcs-Git: https://github.com/ldbox/ldbox.git
XS-Vcs-Browser: https://github.com/ldbox/ldbox/tree/master
Homepage: https://ldbox.org/

Package: ldbox
Architecture: i386 amd64 powerpc ia64
Depends: ${shlibs:Depends}, liblb (= ${binary:Version})
Recommends: qemu-user, build-essential, wget
Suggests: sbrsh
Description: Transparent cross compiling environment
 ldbox uses a LD_PRELOAD library to create a transparent cross compiling
 environment. ldbox automatically maps file system accesses to
 crosscompiler, target libraries and headers using a flexible lua path mapping
 engine. Together with CPU transparency, provided by qemu or sbrsh, ldbox
 enables fast crosscompiling without modifying build scripts.
 .

Package: liblb
Architecture: i386 amd64 powerpc ia64
Depends: ${shlibs:Depends}
Replaces: ldbox (<= 2.3.3-1)
Description: ldbox libraries
 This package contains sole ldbox libraries that can be
 used from inside target filesystem.
